<div class="page-header">
  <%= link_to new_water_tank_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Add a Water Tank
  <% end %>
  <h1>Chicago Water Tanks</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Nickname</th>
            <th>Address</th>
            <th>Neighborhood</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @water_tanks) do |water_tank| %>
            <td><%= water_tank.latitude %></td>
            <td><%= water_tank.longitude %></td>
            <td><%= water_tank.nickname %></td>
            <td><%= water_tank.address %></td>
            <td><%= water_tank.neighborhood %></td>
            <td><%= link_to 'Show', water_tank %></td>
        <td><%= link_to 'Edit', edit_water_tank_path(water_tank) %></td>
        <td><%= link_to 'Destroy', water_tank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
