<div class="page-header">
  <%= link_to water_tanks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if @water_tank.user == current_user %>
    <%= link_to edit_water_tank_path(@water_tank), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1><%= @water_tank.nickname %></h1>
  <h3><%= @water_tank.neighborhood %></h3>
</div>

<dl class="dl-horizontal">
  <dt>Latitude:</dt>
  <dd><%= @water_tank.latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @water_tank.longitude %></dd>

  <dt>Nickname:</dt>
  <dd><%= @water_tank.nickname %></dd>

  <dt>Address:</dt>
  <dd><%= @water_tank.address %></dd>

  <dt>Neighborhood:</dt>
  <dd><%= @water_tank.neighborhood %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag @water_tank.image.url(:medium) %></dd>

</dl>
