<%= form_with(model: water_tank_location, local: true) do |form| %>
  <% if water_tank_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(water_tank_location.errors.count, "error") %> prohibited this water_tank_location from being saved:</h2>

      <ul>
      <% water_tank_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :water_tank_location_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :water_tank_location_longitude %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_area :info, id: :water_tank_location_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
