<p id="notice"><%= notice %></p>

<h1>Water Tank Locations</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @water_tank_locations.each do |water_tank_location| %>
      <tr>
        <td><%= water_tank_location.latitude %></td>
        <td><%= water_tank_location.longitude %></td>
        <td><%= water_tank_location.info %></td>
        <td><%= link_to 'Show', water_tank_location %></td>
        <td><%= link_to 'Edit', edit_water_tank_location_path(water_tank_location) %></td>
        <td><%= link_to 'Destroy', water_tank_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Water Tank Location', new_water_tank_location_path %>
