<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @water_tank_location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @water_tank_location.longitude %>
</p>

<p>
  <strong>Info:</strong>
  <%= @water_tank_location.info %>
</p>

<%= link_to 'Edit', edit_water_tank_location_path(@water_tank_location) %> |
<%= link_to 'Back', water_tank_locations_path %>
